.app{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
button {
  background-color: hsl(160, 52%, 75%);
  border-radius: .25rem;
  padding: .5rem .75rem;
  border: solid 1px 	hsl(117, 30%, 87%);
}

button:hover {
  color: white;
  cursor: pointer;
  background-color: hsl(160, 52%, 65%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}